BasedOnStyle: LLVM

IndentWidth: 8
TabWidth: 8
UseTab: Never

PointerAlignment: Left

BreakBeforeBraces: Attach

Language: Cpp
ColumnLimit: 100
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false